@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color--text:#8B4338;
    --bck--color:#EDE5D8;
  }
/* Inicio nav */
.header__nav{
    background-color: var(--bck--color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color--text);
}


.check--menu{
    display: none;
}


.nav--img--a{
    width: 10%;
    height: 100px;
    transition: 0.8s ease-in;
}
.nav--img--a:hover{
    transform: rotateY(180deg);
    transition: 0.8s ease-in;
}





.nav--iconpage{
    width: 100%;
    height: 100px;
}


.header__nav--ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dopdownnav{
    display: flex;
    width: 100%;
}
.dropdownsubnav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav--ul-cant{
    width: 20px;
    height: 18px;
    text-align: center;
    position: absolute;
    margin-left: -10px;
    margin-top: -3px;
    background-color: var(--color--text);
    color: var(--bck--color);
    padding: 2px;
    padding-right: 4px;
    border-radius: 50%;
    font-size: 13px;
}
.cart--icon{
    width: 50px;
}


.nav--div--button{

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    height: 50px;
}
.nav--ul--li{
    list-style: none;
}

.nav--ul-a{
    text-decoration: none;
    color: var(--color--text);
    font-size: 20px;
    
}
.nav--ul-a:hover{
    opacity: 80%;
}


.nav--input{
    width: 100%;
    margin: 0 10px;
    height: 30px;
    padding: 5px;
   border: none;
   outline: none;
   border-bottom: 1px solid var(--color--text);
   color: #553733;
}

.nav--button{
    width: 80px;
    background-color: var(--color--text);
    border: none;
    color: var(--bck--color);
    cursor: pointer;
}
.nav--button:hover{
    opacity: 90%;
}
.nav--button:active{
    background-color: #553733;
}
.nav--ul--profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title--profile{
    margin-left: 5px;
    text-decoration: none;
    color: var(--color--text);
    font-size: 20px;
}



/*Inicio main*/
.main--title{
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Satisfy', 'cursive';
    text-align: center;
}

.slider{
    overflow: hidden;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 400px;
    width: 100%;
    transition: all 1s ease-in;
    
}

.img--slider{
 width: 100%;
 aspect-ratio: 16/3;
 height: 530px;
 object-fit: cover;

    
}
.img2{
    height: 500px;
}
.img3{
    height: 600px !important;
}
.slider--opacity{
    width: 98%;
    height: 400px;
    position: absolute;
    background-color: black;
    z-index: 2;
    opacity: 50%;
}
.tittle--ofertas{
    display: block;
    position: absolute;
    z-index: 3;
    color: #EDE5D8;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
.main__div--products{
    margin: auto;
    display: flex;
    width: 98%;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

.item--product--ref--prd{
    display: block;
  text-align: center;
  margin-bottom: 80px;
  color: #3e312f;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item--product--descrp{
    border: 1px groove var(--bck--color);
    width: 100%;
    margin:0 5px;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.item--product--contai{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}

.image--cartHome{
    width: 230px;
    height: 220px;
    padding: 5px;
    object-fit: cover;
   border-radius: 15px;
   display: block;
   margin: auto;
    
 
}
.fav--icon--cart{

    margin-right: -5px;
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: none;
        background-color:transparent;
       
       
}

.svg--icon {
    margin-right: -5px;
     cursor:pointer;
    position: absolute;
    background-color:transparent;
   border: none;
   display: none;
   
 
   
}
.fav--icon--cart:hover{
    transform: rotateY(180deg);
    transition: 0.8s ease-in;
}
.svg--icon:hover{
    transform: rotateY(180deg);
    transition: 0.8s ease-in;
}

.addtocartItem{  
   font-size: 18px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #fff;
   background-color: #000;
   border: none;
   cursor: pointer;
   margin-top: 15px !important;
   border-radius: 5px;
   display: flex;
   margin:auto;
   padding: 10px;
}

.addtocartItem:hover{
    opacity: 95%;
}

.addtocartItem:active{
    background-color: #0e0e0e;
}

/*Comments--cont*/
.conteiner__coments{
    display: flex;
    width: 97.2%;
   padding-bottom: 50px;
    margin:auto;
    justify-content: space-around;

}
.title--coments{
    font-size: 40px;
    font-family: 'Satisfy', 'cursive';
    color: #553733;
    padding:15px;
    width: 30%;
    text-align: center;    
    border-right: 1px solid #dfc08f
}
.conteiner__coments--people{
    display: flex;
    flex-direction: column;
    width: 58%;
}
.coments--people{
   
    padding: 8px;
 
}
.parraf--coments--people{
    font-size: 20px;
    opacity: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.people--name{
    margin-top: 10px;
    font-family: 'Satisfy', 'cursive';
    font-size: 18px;
    color: #553733;
    
}


/*Footer*/
.footer{
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 500px;
}
.div--opacity--footer{
    position: absolute;
    width: 100%;
    background-color: #000;
    z-index: 3;
    height: 500px;
    opacity: 60%;
}
.div--footer--img{
    position: absolute;
    z-index: -1;
   
    width: 100%;

}
.footer--img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.div--footer--items{
    height: 500px;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    display: flex;
    z-index: 5;
    flex-direction: column;
}
.footer--title{
    z-index: 4;
    color: #fff;
    font-size: 50px;
    font-family:'Satisfy', 'cursive';
}
.footer--content--div{
    z-index: 4;
    display: flex;
    justify-content: space-around;
}
.footer--content--div--icon{
    z-index: 4;
}
.footer--content{
    color: #fff;
    font-size: 22px;
    opacity: 90%;
}
.footer--content span{
    opacity: 90%;
  color: #ebebeb;
}
.footer--content--div--icon svg{
  margin: 0 10px;
}


/*PRODUCTOS*/
.filtr--item{
    display: none;
}


.conteiner--catalog--main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.dropdownlist{
    list-style: none;
    margin-right: 12px;
}
.catalog--categories{

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--bck--color);
    
    border-radius: 15px;

}

.catalog--title{
    font-size: 23px;
    color: #3e312f;
    margin-bottom: 30px;
    margin-left: 10px;
}
.check--cat:active{
    background-color: #553733;
    
}
.check--label{
    font-size: 20px;
    display: block;
    margin-bottom: 18px;
}
.catalog--filter{
    width: 100px;
    height: 30px;
    width: 80px;
    background-color: var(--color--text);
    border: none;
    color: #fff;
    cursor: pointer;
}

.catalog--filter:hover{
    opacity: 90%;
}
.catalog--filter:active{
    background-color: #553733;
}

.conteiner--catalog{
    width: 78%;
}
.conteiner--catalog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
}
.div--descr--item {
    display: flex;
 
    justify-content: space-around;


    border: 1px groove var(--bck--color);
    width: 100%;
    margin:0 5px;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}
.image--cartHome{
    width: 180px;
    height: 180px;
}
.tittle--text{
    font-size: 17px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.price--text{
   
    margin: auto;
    margin-top: 5px;
    width: 150px;
    font-size: 20px;
    border: 1px solid var(--bck--color);
    border-radius: 5px;
    padding: 5px;
    color: #0c8b12;
    text-align: center;
    background-color: #f8f8f8;
}
/*Cart*/
.main--cart{
    display: flex;
    margin: 10px;
    
}

.main__cart--container{
    display: flex;
    width: 75%;
    border: 1px solid var(--bck--color);
    padding: 10px;
    flex-direction: column;
}
.cart--tittles{
    width: 100%;
    display: grid;
    grid-template-columns: 1.15fr 1fr 1fr 1fr;
    justify-items: space-around;
    text-align: center;
    padding: 10px;
}
.cart--title{
    font-size: 18px;
    color: var(--color--text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart--sending{
    width: 25%;
    border: 1px solid var(--bck--color);
    margin-left: 5px;
    padding: 10px;
}
.cart--img{
    width: 150px;
    height: 150px;
    border-radius: 7px;
    object-fit: cover;
}
.container__cart--item{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart--item{
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
   justify-items: center;
   padding: 15px;
   align-items: center;
}
.cart--item--description{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.cart--price{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conteiner--cant--element{
    border: 1px solid var(--bck--color);
    padding: 5px;
}
.conteiner--cant--element button{
        width: 20px;
        height: 20px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        font-size: 22px;
        color: #0c8b12;;
}

.input--value{
    border: none;
    width: 30px;
    text-align: center;
    height: 20px;
    outline: none;
   
}
.cart-button--delete{
    width: 50px;
    height: 30px;
 background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 5;
}
.cart-button--delete svg{
    z-index: -1;
    
}



/*Form*/
.cart-sending--form{
   
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
 
    padding: 15px;
}
.cart-sending--form input{
  
   font-size: 18px;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart-sending--form label{
    margin-top: 20px;

}   

.total--price--cont{
    margin-top: 15px;
    text-align: center;
    background-color: #dddddd;
    color: #000;
    padding: 15px 3px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border: 1px solid var(--bck--color);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.total--pago{

    width: 100%;
    height: 35px;
    margin-right: 10px;
    background-color: #000;
    color:#ffffff;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.total--pago:hover{
    background-color: #0e0e0e;
}
.total--pago:active{
    background-color: #100e0e;
}
.div--img--payment{
    width: 100%;
    overflow: hidden;
        
}
.img--payment{
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width: 1024px){

    .dropdownlist{
        list-style: none;
        margin-right: 12px;
    }
    
    
    .conteiner--catalog{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 8px;
        column-gap: 8px;
        width: 100%;
    }
    .conteiner--catalog--main{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .catalog--categories{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
     
        margin-right: 8px;
        border-radius: 15px;
    
    }
    .catalog--title{
        font-size: 23px;
        color: #3e312f;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .check--cat:active{
        background-color: #553733;
        
    }
    .check--label{
        font-size: 20px;
        display: block;
        margin-bottom: 18px;
    }
    .catalog--filter{
        width: 100px;
        height: 30px;
        width: 80px;
        background-color: var(--color--text);
        border: none;
        color: #fff;
        cursor: pointer;
    }
    
    .catalog--filter:hover{
        opacity: 90%;
    }
    .catalog--filter:active{
        background-color: #553733;
    }
    
    .conteiner--catalog{
        width: 78%;
    }
 .image--cartHome{
    width: 180px;
    height: 180px;
 }
 .tittle--text{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


}


@media screen and (min-width: 0 ){
    .header__nav--ul{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        margin-bottom:10px;
    }
.header__nav{
    background-color: var(--bck--color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color--text);
}


.nav--img--a{
   display: none;
}


.nav--iconpage{
   display: none;
}



.tittle--ofertas{
    font-size: 30px;
    text-align: center;
}
.slider{
    border-radius: 15px;
    
}
.slider--opacity{
    border-radius: 15px;
}
.nav--div--button{
    display: "block";
}

.nav--ul--profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}



/*PRODUCTOS*/
.conteiner--catalog{
    display: flex;
    flex-wrap: wrap;
   
    justify-items: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
    
}

.conteiner--catalog--main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.check--menu{
    position: relative;
}
.dropdownlink{
    position: relative;
}
.dropdownlist{
    border: 1px solid var(--bck--color);
    margin: auto;
    width: 87%;
    border-radius: 15px;
    text-align: center;
}

.dropdownlist:has(:checked){
    --rows:1fr;
    --dropdown:rotate(180deg);
   
}
.dropdowncheck{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
   
    margin-top: -20px;
    
 
}

.nav--ul--li {
    margin: 10px;
    padding:5px;
}
.svg--menu{
    transform: none !important;
}
.dropdownlink svg{

    margin: auto;

}
.dropdownlink svg{
    transform: var(--dropdown,0);
    transition: .3s transform;
    display: block;
}

.dropdownlink{
    position: relative;
}

li{
    list-style: none;
}

.catalog--categories{
    display: grid;
    grid-template-rows: var(--rows,0fr);
    transition: .8s grid-template-rows;
    width: 90%;
    padding: 10px;
    margin: auto;
    border: none !important;
    margin-right: 8px;
    border-radius: 15px;
  
}
.dropdownsub{
    overflow: hidden;
    
}


.header__nav--ul:has(:checked){
    --rows:1fr;
    --dropdown:rotate(180deg);
}
.dopdownnav{
    display: grid;
    grid-template-rows: 0;
    grid-template-rows: var(--rows,0fr);
    transition: .8s grid-template-rows;
}
.dropdownsubnav{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.li--cont{
position: relative;
}
.nav--ul-cant{
    position: absolute;
  
}
.toggle--item{
    margin-right: 20px;
    position: relative;
}
.check--menu{
    display: flex;
    justify-content: end;
  
}







.filtr--item{

    display: block;
    width: 20%;
    margin: auto;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}




/*footer*/
.footer{
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 500px;
}
.div--opacity--footer{
    position: absolute;
    width: 100%;
    background-color: #000;
    z-index: 3;
    height: 500px;
    opacity: 60%;
}
.div--footer--img{
    position: absolute;
    z-index: -1;
   
    width: 100%;

}
.footer--img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.div--footer--items{
    height: 500px;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    display: flex;
    z-index: 5;
    flex-direction: column;
}
.footer--title{
    z-index: 4;
    color: #fff;
    font-size: 30px;
    font-family:'Satisfy', 'cursive';
}
.footer--content--div{
    z-index: 4;
    display: flex;
    justify-content: space-around;
}
.footer--content--div--icon{
    z-index: 4;
}
.footer--content{
    color: #fff;
    font-size: 12px;
    opacity: 90%;
}
.footer--content span{
    opacity: 90%;
  color: #ebebeb;
}
.footer--content--div--icon svg{
  margin: 0 10px;
}




.filtr--item span{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catalog--title{
    font-size: 23px;
    color: #3e312f;
    margin-bottom: 30px;
    margin-left: 10px;
}
.check--cat:active{
    background-color: #553733;
    
}
.check--label{
    font-size: 20px;
    display: block;
    margin-bottom: 18px;
}
.catalog--filter{
    width: 100px;
    height: 30px;
    width: 80px;
    background-color: var(--color--text);
    border: none;
    color: #fff;
    cursor: pointer;
    
}

.catalog--filter:hover{
    opacity: 90%;
}
.catalog--filter:active{
    background-color: #553733;
}

.conteiner--catalog{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.image--cartHome{
width: 200px;
height: 200px;
}
.tittle--text{
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
}
@media screen and (min-width: 767px){
    .header__nav--ul{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        margin-bottom:10px;
    }
.header__nav{
    background-color: var(--bck--color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color--text);
}


.nav--img--a{
   display: none;
}


.nav--iconpage{
   display: none;
}


.tittle--ofertas{
    font-size: 30px;
    text-align: center;
}
.slider{
    border-radius: 15px;
   
}
.slider--opacity{
    border-radius: 15px;
}
.nav--div--button{
    display: "block";
}

.nav--ul--profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}



/*PRODUCTOS*/
.conteiner--catalog{
   display: grid;
        grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
    
}

.conteiner--catalog--main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.check--menu{
    position: relative;
}
.dropdownlink{
    position: relative;
}
.dropdownlist{
    border: 1px solid var(--bck--color);
    margin: auto;
    width: 87%;
    border-radius: 15px;
    text-align: center;
}

.dropdownlist:has(:checked){
    --rows:1fr;
    --dropdown:rotate(180deg);
   
}
.dropdowncheck{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
   
    margin-top: -20px;
    
 
}

.nav--ul--li {
    margin: 10px;
    padding:5px;
}
.svg--menu{
    transform: none !important;
}
.dropdownlink svg{

    margin: auto;

}
.dropdownlink svg{
    transform: var(--dropdown,0);
    transition: .3s transform;
    display: block;
}

.dropdownlink{
    position: relative;
}

li{
    list-style: none;
}

.catalog--categories{
    display: grid;
    grid-template-rows: var(--rows,0fr);
    transition: .8s grid-template-rows;
    width: 90%;
    padding: 10px;
    margin: auto;
    border: none !important;
    margin-right: 8px;
    border-radius: 15px;
  
}
.dropdownsub{
    overflow: hidden;
    
}


.header__nav--ul:has(:checked){
    --rows:1fr;
    --dropdown:rotate(180deg);
}
.dopdownnav{
    display: grid;
    grid-template-rows: 0;
    grid-template-rows: var(--rows,0fr);
    transition: .8s grid-template-rows;
}
.dropdownsubnav{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.li--cont{
position: relative;
}
.nav--ul-cant{
    position: absolute;
  
}
.toggle--item{
    margin-right: 20px;
    position: relative;
}
.check--menu{
    display: flex;
    justify-content: end;
  
}







.filtr--item{

    display: block;
    width: 20%;
    margin: auto;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}




/*footer*/
.footer{
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 500px;
}
.div--opacity--footer{
    position: absolute;
    width: 100%;
    background-color: #000;
    z-index: 3;
    height: 500px;
    opacity: 60%;
}
.div--footer--img{
    position: absolute;
    z-index: -1;
   
    width: 100%;

}
.footer--img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.div--footer--items{
    height: 500px;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    display: flex;
    z-index: 5;
    flex-direction: column;
}
.footer--title{
    z-index: 4;
    color: #fff;
    font-size: 30px;
    font-family:'Satisfy', 'cursive';
}
.footer--content--div{
    z-index: 4;
    display: flex;
    justify-content: space-around;
}
.footer--content--div--icon{
    z-index: 4;
}
.footer--content{
    color: #fff;
    font-size: 12px;
    opacity: 90%;
}
.footer--content span{
    opacity: 90%;
  color: #ebebeb;
}
.footer--content--div--icon svg{
  margin: 0 10px;
}




.filtr--item span{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catalog--title{
    font-size: 23px;
    color: #3e312f;
    margin-bottom: 30px;
    margin-left: 10px;
}
.check--cat:active{
    background-color: #553733;
    
}
.check--label{
    font-size: 20px;
    display: block;
    margin-bottom: 18px;
}
.catalog--filter{
    width: 100px;
    height: 30px;
    width: 80px;
    background-color: var(--color--text);
    border: none;
    color: #fff;
    cursor: pointer;
    
}

.catalog--filter:hover{
    opacity: 90%;
}
.catalog--filter:active{
    background-color: #553733;
}

.conteiner--catalog{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.image--cartHome{
width: 200px;
height: 200px;
}
.tittle--text{
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
}





@media screen and (min-width: 1024px){
    .header__nav--ul{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        margin-bottom:10px;
    }
.header__nav{
    background-color: var(--bck--color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color--text);
}


.nav--img--a{
   display: none;
}


.nav--iconpage{
   display: none;
}



.tittle--ofertas{
    font-size: 30px;
    text-align: center;
}
.slider{
    border-radius: 15px;
    
}
.slider--opacity{
    border-radius: 15px;
}
.nav--div--button{
    display: "block";
}

.nav--ul--profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}



/*PRODUCTOS*/
.conteiner--catalog--main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.conteiner--catalog{
    width: 80%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
   
    justify-items: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
    
}
.image--cartHome{
    width: 120px;
    height: 120px;
    }

.check--menu{
    position: relative;
}
.dropdownlink{
    position: relative;
}
.dropdownlist{
  
    margin: auto;
    width: 87%;
    border-radius: 15px;
  
}

.dropdownlist:has(:checked){
    --rows:1fr;
    --dropdown:rotate(180deg);
   
}
.dropdowncheck{
    position: absolute;
    width: 10%;
    height: 10%;
    cursor: pointer;
    margin-top: -20px;
    margin-right: 100px;
    opacity: 0;
 
}
.dropdowncheck:active{
    background-color: #fff;
}
.nav--ul--li {
    margin: 10px;
    padding:5px;
}
.svg--menu{
    transform: none !important;
}
.dropdownlink svg{

    margin: auto;

}
.dropdownlink svg{
    transform: var(--dropdown,0);
    transition: .3s transform;
    display: block;
}

.dropdownlink{
    position: relative;
}

li{
    list-style: none;
}

.catalog--categories{
    display: grid;
    grid-template-rows: var(--rows,0fr);
    transition: .8s grid-template-rows;
    width: 90%;
    padding: 10px;
    margin: auto;
    border: none !important;
    margin-right: 8px;
    border-radius: 15px;
    margin-top: -20px;
}
.dropdownsub{
    overflow: hidden;
    
}


.header__nav--ul:has(:checked){
    --rows:1fr;
    --dropdown:rotate(180deg);
}
.dopdownnav{
    display: grid;
    grid-template-rows: 0;
    grid-template-rows: var(--rows,0fr);
    transition: .8s grid-template-rows;
}
.dropdownsubnav{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.li--cont{
position: relative;
}
.nav--ul-cant{
    position: absolute;
  
}
.toggle--item{
    margin-right: 20px;
    position: relative;
}
.check--menu{
    display: flex;
    justify-content: end;
  
}







.filtr--item{
    text-align: center;
    display: block;
    width: 20%;
    margin: auto;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}




/*footer*/
.footer{
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 500px;
}
.div--opacity--footer{
    position: absolute;
    width: 100%;
    background-color: #000;
    z-index: 3;
    height: 500px;
    opacity: 60%;
}
.div--footer--img{
    position: absolute;
    z-index: -1;
   
    width: 100%;

}
.footer--img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.div--footer--items{
    height: 500px;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    display: flex;
    z-index: 5;
    flex-direction: column;
}
.footer--title{
    z-index: 4;
    color: #fff;
    font-size: 30px;
    font-family:'Satisfy', 'cursive';
}
.footer--content--div{
    z-index: 4;
    display: flex;
    justify-content: space-around;
}
.footer--content--div--icon{
    z-index: 4;
}
.footer--content{
    color: #fff;
    font-size: 12px;
    opacity: 90%;
}
.footer--content span{
    opacity: 90%;
  color: #ebebeb;
}
.footer--content--div--icon svg{
  margin: 0 10px;
}




.filtr--item span{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catalog--title{
    font-size: 23px;
    color: #3e312f;
    margin-bottom: 30px;
    margin-left: 10px;
}
.check--cat:active{
    background-color: #553733;
    
}
.check--label{
    font-size: 20px;
    display: block;
    margin-bottom: 18px;
}
.catalog--filter{
    width: 100px;
    height: 30px;
    width: 80px;
    background-color: var(--color--text);
    border: none;
    color: #fff;
    cursor: pointer;
    
}

.catalog--filter:hover{
    opacity: 90%;
}
.catalog--filter:active{
    background-color: #553733;
}

.conteiner--catalog{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.tittle--text{
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
}

@media screen and (min-width: 1300px){
    .header__nav{
        background-color: var(--bck--color);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color--text);
    }
    
    
    .check--menu{
        display: none;
    }
    
    
    .nav--img--a{
        width: 10%;
        height: 100px;
        transition: 0.8s ease-in;
        display: inline-block;
    }
    .nav--img--a:hover{
        transform: rotateY(180deg);
        transition: 0.8s ease-in;
    }
    
    
    
    
    
    .nav--iconpage{
        width: 100%;
        height: 100px;
        display: block;
    }
    
    
    .header__nav--ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .dopdownnav{
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .dropdownsubnav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
    }
 
    .nav--ul-cant{
        width: 20px;
        height: 18px;
        text-align: center;
        position: absolute;
        margin-left: -10px;
        margin-top: -3px;
        background-color: var(--color--text);
        color: var(--bck--color);
        padding: 2px;
        padding-right: 4px;
        border-radius: 50%;
        font-size: 13px;
    }
    .cart--icon{
        width: 50px;
    }
    
    
    .nav--div--button{
    
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 15px auto;
        height: 50px;
    }
    .nav--ul--li{
        list-style: none;
    }
    
    .nav--ul-a{
        text-decoration: none;
        color: var(--color--text);
        font-size: 20px;
        
    }
    .nav--ul-a:hover{
        opacity: 80%;
    }
    
    
    .nav--input{
        width: 100%;
        margin: 0 10px;
        height: 30px;
        padding: 5px;
       border: none;
       outline: none;
       border-bottom: 1px solid var(--color--text);
       color: #553733;
    }
    

    .nav--button{
        width: 80px;
        background-color: var(--color--text);
        border: none;
        color: var(--bck--color);
        cursor: pointer;
    }
    .nav--button:hover{
        opacity: 90%;
    }
    .nav--button:active{
        background-color: #553733;
    }
    .nav--ul--profile{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .title--profile{
        margin-left: 5px;
        text-decoration: none;
        color: var(--color--text);
        font-size: 20px;
    }
    
    
    
    /*Inicio main*/
    .main--title{
        margin-top: 30px;
        font-size: 40px;
        font-family: 'Satisfy', 'cursive';
        text-align: center;
    }
    
    .slider{
        overflow: hidden;
        width: 98%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .slider--inner{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 400px;
        width: 100%;
        transition: all 1s ease-in;
        
    }
    
    .img--slider{
     width: 100%;
     aspect-ratio: 16/3;
     height: 530px;
     object-fit: cover;
    
        
    }
    .img2{
        height: 500px;
    }
    .img3{
        height: 600px !important;
    }
    .slider--opacity{
        width: 98%;
        height: 400px;
        position: absolute;
        background-color: black;
        z-index: 2;
        opacity: 50%;
    }
    .tittle--ofertas{
        display: block;
        position: absolute;
        z-index: 3;
        color: #EDE5D8;
        font-size: 60px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
        
    }
    .main__div--products{
        margin: auto;
        display: flex;
        width: 98%;
        justify-content: space-around;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .item--product--ref--prd{
        display: block;
      text-align: center;
      margin-bottom: 80px;
      color: #3e312f;
      font-size: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .item--product--descrp{
        border: 1px groove var(--bck--color);
        width: 100%;
        margin:0 5px;
        border-radius: 15px;
        padding: 15px;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .item--product--contai{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
       
    }
    
    .image--cartHome{
        width: 230px;
        height: 220px;
        padding: 5px;
        object-fit: cover;
       border-radius: 15px;
       display: block;
       margin: auto;
        
     
    }
    .fav--icon--cart{
    
        margin-right: -5px;
            position: absolute;
            cursor: pointer;
            border: none;
            background-color: none;
            background-color:transparent;
           
           
    }
    
    .svg--icon {
        margin-right: -5px;
         cursor:pointer;
        position: absolute;
        background-color:transparent;
       border: none;
       display: none;
       
     
       
    }
    .fav--icon--cart:hover{
        transform: rotateY(180deg);
        transition: 0.8s ease-in;
    }
    .svg--icon:hover{
        transform: rotateY(180deg);
        transition: 0.8s ease-in;
    }
    
    .addtocartItem{  
       font-size: 18px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: #fff;
       background-color: #000;
       border: none;
       cursor: pointer;
       margin-top: 15px !important;
       border-radius: 5px;
       display: flex;
       margin:auto;
       padding: 10px;
    }
    
    .addtocartItem:hover{
        opacity: 95%;
    }
    
    .addtocartItem:active{
        background-color: #0e0e0e;
    }
    
    /*Comments--cont*/
    .conteiner__coments{
        display: flex;
        width: 97.2%;
       padding-bottom: 50px;
        margin:auto;
        justify-content: space-around;
    
    }
    .title--coments{
        font-size: 40px;
        font-family: 'Satisfy', 'cursive';
        color: #553733;
        padding:15px;
        width: 30%;
        text-align: center;    
        border-right: 1px solid #dfc08f
    }
    .conteiner__coments--people{
        display: flex;
        flex-direction: column;
        width: 58%;
    }
    .coments--people{
       
        padding: 8px;
     
    }
    .parraf--coments--people{
        font-size: 20px;
        opacity: 80%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .people--name{
        margin-top: 10px;
        font-family: 'Satisfy', 'cursive';
        font-size: 18px;
        color: #553733;
        
    }
    
    
    /*Footer*/
    .footer{
        margin-top: 70px;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 500px;
    }
    .div--opacity--footer{
        position: absolute;
        width: 100%;
        background-color: #000;
        z-index: 3;
        height: 500px;
        opacity: 60%;
    }
    .div--footer--img{
        position: absolute;
        z-index: -1;
       
        width: 100%;
    
    }
    .footer--img{
        width: 100%;
        object-fit: cover;
        height: 500px;
    }
    .div--footer--items{
        height: 500px;
        justify-content: space-around;
        text-align: center;
        margin: auto;
        display: flex;
        z-index: 5;
        flex-direction: column;
    }
    .footer--title{
        z-index: 4;
        color: #fff;
        font-size: 50px;
        font-family:'Satisfy', 'cursive';
    }
    .footer--content--div{
        z-index: 4;
        display: flex;
        justify-content: space-around;
    }
    .footer--content--div--icon{
        z-index: 4;
    }
    .footer--content{
        color: #fff;
        font-size: 22px;
        opacity: 90%;
    }
    .footer--content span{
        opacity: 90%;
      color: #ebebeb;
    }
    .footer--content--div--icon svg{
      margin: 0 10px;
    }
    
    
    /*PRODUCTOS*/
    .filtr--item{
        display: none;
    }
    
    
    .conteiner--catalog--main{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .dropdownlist{
        list-style: none;
        margin-right: 12px;
        margin-top: 0;
        margin-top: 20px;
    }
    .catalog--categories{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--bck--color);
     
        border-radius: 15px;
    
    }
    
    .catalog--title{
        font-size: 23px;
        color: #3e312f;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .check--cat:active{
        background-color: #553733;
        
    }
    .check--label{
        font-size: 20px;
        display: block;
        margin-bottom: 18px;
    }
    .catalog--filter{
        width: 100px;
        height: 30px;
        width: 80px;
        background-color: var(--color--text);
        border: none;
        color: #fff;
        cursor: pointer;
    }
    
    .catalog--filter:hover{
        opacity: 90%;
    }
    .catalog--filter:active{
        background-color: #553733;
    }
    
    .conteiner--catalog{
        width: 78%;
    }
    .conteiner--catalog{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 8px;
        column-gap: 8px;
    }
    .div--descr--item {
        display: flex;
        justify-content: space-around;
    
        border: 1px groove var(--bck--color);
        width: 100%;
        margin:0 5px;
        border-radius: 15px;
        padding: 15px;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        justify-items: center;
        
    }
    .image--cartHome{
        width: 180px;
        height: 180px;
    }
    .tittle--text{
        font-size: 15px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .price--text{
        margin: auto;
        margin-top: 5px;
        width: 150px;
        font-size: 20px;
        border: 1px solid var(--bck--color);
        border-radius: 5px;
        padding: 5px;
        color: #0c8b12;
        text-align: center;
        background-color: #f8f8f8;
    }
    /*Cart*/
    .main--cart{
        display: flex;
        margin: 10px;
        
    }
    
    .main__cart--container{
        display: flex;
        width: 75%;
        border: 1px solid var(--bck--color);
        padding: 10px;
        flex-direction: column;
    }
    .cart--tittles{
        width: 100%;
        display: grid;
        grid-template-columns: 1.15fr 1fr 1fr 1fr;
        justify-items: space-around;
        text-align: center;
        padding: 10px;
    }
    .cart--title{
        font-size: 18px;
        color: var(--color--text);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .cart--sending{
        width: 25%;
        border: 1px solid var(--bck--color);
        margin-left: 5px;
        padding: 10px;
    }
    .cart--img{
        width: 150px;
        height: 150px;
        border-radius: 7px;
        object-fit: cover;
    }
    .container__cart--item{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cart--item{
       display: grid;
       grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
       justify-items: center;
       padding: 15px;
       align-items: center;
    }
    .cart--item--description{
        padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
    }
    .cart--price{
        padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .conteiner--cant--element{
        border: 1px solid var(--bck--color);
        padding: 5px;
    }
    .conteiner--cant--element button{
            width: 20px;
            height: 20px;
            border: none;
            background-color: #fff;
            cursor: pointer;
            font-size: 22px;
            color: #0c8b12;;
    }
    
    .input--value{
        border: none;
        width: 30px;
        text-align: center;
        height: 20px;
        outline: none;
       
    }
    .cart-button--delete{
        width: 50px;
        height: 30px;
     background-color: #fff;
        color: #fff;
        border: none;
        cursor: pointer;
        z-index: 5;
    }
    .cart-button--delete svg{
        z-index: -1;
        
    }
    
    
    
    /*Form*/
    .cart-sending--form{
       
        display: flex;
        flex-direction: column;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 19px;
     
        padding: 15px;
    }
    .cart-sending--form input{
      
       font-size: 18px;
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        padding: 5px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .cart-sending--form label{
        margin-top: 20px;
    
    }   
    
    .total--price--cont{
        margin-top: 15px;
        text-align: center;
        background-color: #dddddd;
        color: #000;
        padding: 15px 3px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        border: 1px solid var(--bck--color);
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .total--pago{
    
        width: 100%;
        height: 35px;
        margin-right: 10px;
        background-color: #000;
        color:#ffffff;
        font-size: 20px;
        margin-top: 5px;
        cursor: pointer;
    }
    .total--pago:hover{
        background-color: #0e0e0e;
    }
    .total--pago:active{
        background-color: #100e0e;
    }
    .div--img--payment{
        width: 100%;
        overflow: hidden;
            
    }
    .img--payment{
        width: 100%;
        object-fit: contain;
    }
    
    
   
}